<div class="frequently-asked-question">
  <h1>Frequently asked questions</h1>

  <mat-expansion-panel 
  (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">

  <mat-expansion-panel-header>
    <mat-panel-title>
      <div class="question">
        <p>Do you serve breck fast afD DAS FGWEFNSJDC SDVNJSDC  sv qervaqew   we f?</p> 
      </div>
      <div class="hr-line"></div> 
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p>I'm visible because I am open</p>
</mat-expansion-panel>

<mat-expansion-panel 
  (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">

  <mat-expansion-panel-header>
    <mat-panel-title>
      <div class="question">
        <p>Do you serve breck fast afD DSD VWE VWE F   we f?</p> 
      </div>
      <div class="hr-line"></div> 
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p>I'm visible because I am open</p>
</mat-expansion-panel>

<mat-expansion-panel 
  (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">

  <mat-expansion-panel-header>
    <mat-panel-title>
      <div class="question">
        <p>Do you serve break fast sd qwervgqwre vqrew vq vrq bsadbdasbuic absydchva dsyuhcas dvcxVSD?</p> 
      </div>
      <div class="hr-line"></div> 
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p>I'm visible because I am open</p>
</mat-expansion-panel>
</div>