<div class="customer-reviews">
   <div class="title">
    <h1>Customer reviews</h1>
    <p>Believe not what we say believe what our customers say</p>
   </div>

   <div class="customer-heading">
    <div class="hr"></div>
    <div class="customer-photo">
      <img src="assets/images/customer-1.jpg" alt="img">
    </div>
    <div class="hr"></div>
   </div>

   <p>
    Booking our stay through this hotel website was a breeze! 
    We found the perfect room at a great price, and the whole process was seamless. 
    Our vacation was amazing, thanks to the fantastic accommodations we discovered here. 
    We'll definitely be using this website for all our future travels!
   </p>

   <div class="customer-details">
     <h1>Customer name</h1>
     <p>Job title</p>
   </div>

   <div class="customer-list">
    <button matButton>
      <mat-icon svgIcon="arrow-left"></mat-icon>
    </button>

     <div class="customer-list-item">
      <img src="assets/images/customer-2.jpg" alt="img">
     </div>
     <div class="customer-list-item">
      <img src="assets/images/customer-3.jpg" alt="img">
     </div>
     <div class="customer-list-item">
      <img src="assets/images/customer-4.jpg" alt="img">
     </div>
     <div class="customer-list-item">
      <img src="assets/images/customer-5.jpg" alt="img">
     </div>

     <button matButton>
      <mat-icon svgIcon="arrow-right"></mat-icon>
     </button>
   </div>
</div>