<div class="navbar">
   <mat-icon class="navbar-logo" (click)="goToHome()">HOTBOOK</mat-icon>
  <div class="navbar-links">
    <div class="navigation">
      <button matButton (click)="goToHome()">Home</button>
      <button matButton (click)="goToAbout()">About</button>
      <button matButton (click)="goToTours()">Tours</button>
      <button matButton (click)="goToBlog()">Blog</button>
      <button matButton (click)="goToContacts()">Contacts</button>
    </div>
    <div class="login-button">
      <button matButton (click)="login()">Login</button>
    </div>
  </div>
</div>


