.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;

    mat-icon{
        font-family: var(--font-family-montserrat);
        font-weight: 700;

        &:hover{
           cursor: pointer;
        }
    }

    .navbar-links{
        display: flex;

        .navigation{
            display: flex;
            gap: 30px;

            button{
                font-family: var(--font-family-montserrat);
                font-size: 20px;
                border: none;
                background-color: transparent;
                cursor: pointer;
                color: var(--main-theme-color);
                opacity: 0.6;

                &:hover{
                    opacity: 0.9;
                }

                &:focus{
                    color: var(--main-theme-color);
                    font-weight: 600;
                    opacity: 1;
                }
            }
        }

        .login-button{
            margin-left: 30px;
            
            button{
                background-color: var(--main-theme-color);
                color: var(--white);
                font-family: var(--font-family-montserrat);
                width: 162px;
                height: 47px;
                font-weight: 500;
                border-radius: 15px;
                font-size: 20px;
                cursor: pointer;
                border: none;

                &:hover{
                    opacity: 0.8;
                }
            }
        }
    }
}