<div class="login"> 
  <h2>Sign in</h2>

 <form class="form" [formGroup]="form" (ngSubmit)="login()">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input
        matInput
        placeholder="Please enter your username"
       formControlName="username"
        required
      />
      <mat-error *ngIf="form.touched && form.value['username'] == ''">Username is required!</mat-error>  
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        placeholder="Please enter your password"
        formControlName="password"
        required
      />
      <mat-error *ngIf="form.touched && form.value['password'] == ''">Password is required!</mat-error> 
    </mat-form-field>

    <button mat-button [disabled]="form.touched && form.invalid">Login</button>
  </form>  
</div>
