<div class="login"> 
  <h2>Sign in</h2>

 <form class="form" [formGroup]="form" (ngSubmit)="login()">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input
        matInput
        placeholder="Please enter your username"
        formControlName="username"
        required
        (keyup)="onKeyUp()"
      />
      <mat-error *ngIf="form.touched && form.value['username'] == ''">Username is required!</mat-error>  
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        type="password"
        matInput
        placeholder="Please enter your password"
        formControlName="password"
        required
        (keyup)="onKeyUp()"
      />
      <mat-error *ngIf="form.touched && form.value['password'] == ''">Password is required!</mat-error> 
    </mat-form-field>

    <mat-error class="invalid-credentials" *ngIf="error.status == '500'">Invalid username or password!</mat-error> 
    <mat-error class="invalid-credentials" *ngIf="error.statusText == 'Unknown Error'">Something went wrong, please try again later!</mat-error> 
    
    <button mat-button [disabled]="form.touched && form.invalid">Login</button>
  </form>  
</div>
