<div class="latest-from-blog">
  <h1>Latest from our blog</h1>
  <h2>Book online adventures</h2>
  <p>Those who are eager at adventures that thrill</p>

  <div class="blog-post-list">
    <div class="blog-post-list-item">
      <div class="blog-post-list-image-container">
        <img src="assets/images/hotel-1.jpg" alt="img">
       <div class="blog-post-title-container">
        <p>Welcome in to City in a Forest <span> - Atlant, Georgia</span></p>
       </div>
      </div>
      <button matButton>Read more
        <mat-icon svgIcon="arrow-right-thin"></mat-icon>
      </button>
    </div>

    <div class="blog-post-list-item">
      <div class="blog-post-list-image-container">
        <img src="assets/images/hotel-2.jpg" alt="img">
       <div class="blog-post-title-container">
        <p>Welcome in to City in a Forest <span> - Atlant, Georgia</span></p>
       </div>
      </div>
      <button matButton>Read more
        <mat-icon svgIcon="arrow-right-thin"></mat-icon>
      </button>
    </div>

    <div class="blog-post-list-item">
      <div class="blog-post-list-image-container">
        <img src="assets/images/hotel-3.jpg" alt="img">
       <div class="blog-post-title-container">
        <p>Welcome in to City in a Forest <span> - Atlant, Georgia</span></p>
       </div>
      </div>
      <button matButton>Read more
        <mat-icon svgIcon="arrow-right-thin"></mat-icon>
      </button>
    </div>

    <div class="blog-post-list-item">
      <div class="blog-post-list-image-container">
        <img src="assets/images/hotel-4.jpg" alt="img">
       <div class="blog-post-title-container">
        <p>Welcome in to City in a Forest <span> - Atlant, Georgia</span></p>
       </div>
      </div>
      <button matButton>Read more
        <mat-icon svgIcon="arrow-right-thin"></mat-icon>
      </button>
    </div>
  </div>
</div>