<div class="property-highlights">
 <h1>Property highlights</h1>

 <div class="highlight-list">
  <div class="hightlight">
    <mat-icon svgIcon="car-brake-parking"></mat-icon>
    <p>Free parking</p>
   </div>

   <div class="vertical-line"></div>
  
   <div class="hightlight">
    <mat-icon svgIcon="dog-solid"></mat-icon>
    <p>Petts allowed</p>
   </div>

   <div class="vertical-line"></div>
  
   <div class="hightlight">
    <mat-icon svgIcon="desktop-solid"></mat-icon>
    <p>Cable TV</p>
   </div>

   <div class="vertical-line"></div>
  
   <div class="hightlight">
    <mat-icon svgIcon="washing-machine"></mat-icon>
    <p>Washing machine</p>
   </div>

   <div class="vertical-line"></div>
  
   <div class="hightlight">
    <mat-icon svgIcon="plane-departure"></mat-icon>
    <p>Airport lift</p>
   </div>

   <div class="vertical-line"></div>
  
   <div class="hightlight">
    <mat-icon svgIcon="dumbbell"></mat-icon>
    <p>Fitness center</p>
   </div>
 </div>
</div>