<div class="hero-section">
  <div class="plane">
     <mat-icon svgIcon="plane"></mat-icon>
     <mat-icon svgIcon="dashed-line"></mat-icon>
  </div>
  <div class="reserve-title">
    <h3>Reserve Your Hotel</h3>
    <p>Online with ease</p>
  </div>

 <div class="hotel-search">
  <app-hotel-search></app-hotel-search>
 </div>

  <div class="hero-photo">
    <div class="hero-photo-first-item">
       <img src="assets/images/room-3.jpg" alt="img">
    </div>
    <div class="hero-photo-second-item">
       <div class="hero-photo-inner-item">
        <img src="assets/images/room-2.jpg" alt="img">
       </div>
       <div class="hero-photo-inner-item">
        <img src="assets/images/room-4.jpg" alt="img">
       </div>
    </div>
  </div>
</div>