.hero-section{
    height: 577px;
    background-color: var(--main-theme-color);
    padding: 200px;

    .plane{
        mat-icon{
            width: 48px;
            height: 48px;
            position: absolute;
            top: 320px;
            left: 280px;
        }

        mat-icon + mat-icon{
            width: 800px;
            height: 400px;
            fill: var(--white);
            top: 240px;
            left: 313px;
        }
    }

    .reserve-title{
        width: 350px;
        margin-top: 100px;

        h3{
           color: white;
           font-size: 54px;
           line-height: 70px;
           font-weight: 600;
           font-family: var(--font-family-montserrat);
        }

        p{
            color: white;
            font-size: 20px;
            font-weight: 300;
            font-family: var(--font-family-montserrat);
        }
    }

    .hotel-search{
        position: relative;
        top: 30px;
        z-index: 1;
    }

    .hero-photo{
        position: absolute;
        display: flex;
        column-gap: 20px;
        top:  200px;
        right: 300px;

        .hero-photo-first-item{
            width: 345px;
            height: 610px;
            background-color: grey;
            border-radius: 20px;
            border: none;

          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
          }
        }

        .hero-photo-second-item{
            .hero-photo-inner-item{
                background-color: grey;
                border-radius: 20px;
                width: 280px;
                height: 265px;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 20px;
                }
            }

            .hero-photo-inner-item:nth-child(2){
                height: 375px;
                margin-top: 20px;
            }
        }
    }
}