<div class="images-section">
   <h1>The great hotel name</h1>
   <div class="location">
    <p>Station Road, Las Vegas, USA</p>
    <div class="point"></div>
    <p>Show on map</p>
    <div class="point"></div>
    <p>3 Km to City center</p>
    <div class="point"></div>
    <div class="stars">
      <mat-icon svgIcon="star"></mat-icon>
      <mat-icon svgIcon="star"></mat-icon>
      <mat-icon svgIcon="star"></mat-icon>
      <mat-icon svgIcon="star"></mat-icon>
      <mat-icon svgIcon="star"></mat-icon>
    </div>
    <div class="point"></div>
    <div class="reserve">
      <p>4.8</p>
      <div class="reserve-button">
        <button>Reserve now</button>
      </div>
    </div>
   </div>
   <div class="images">
     <div class="main-image">

     </div>

     <div class="image-list">

     </div>
   </div>
</div>
