<div class="images-section">
   <h1>{{ hotel.name }}</h1>
   <div class="location">
    <p>{{ hotel.location.address }}, {{ hotel.location.city }}, {{ hotel.location.country }}</p>
    <div class="point"></div>
    <p>Show on map</p>
    <div class="point"></div>
    <p>3 Km to City center</p>
    <div class="point"></div>
    <div class="stars">
      <mat-icon svgIcon="star" *ngFor="let star of getHotelRating(hotel.rating)"></mat-icon>
    </div>
    <div class="point"></div>
    <div class="reserve">
      <p>{{ hotel.rating }}</p>
      <div class="reserve-button">
        <button (click)="reserveNow()">Reserve now</button>
      </div>
    </div>
   </div>
   <div class="images">
     <div class="main-image">
       <img src="assets/images/hotel-1.jpg" alt="img">
     </div>

     <div class="image-list">
      <div class="image-list-item">
        <img src="assets/images/hotel-2.jpg" alt="img">
      </div>

      <div class="image-list-item">
        <img src="assets/images/hotel-3.jpg" alt="img">
      </div>

      <div class="image-list-item">
        <img src="assets/images/hotel-4.jpg" alt="img">
      </div>

      <div class="image-list-item">
        <img src="assets/images/hotel-4.jpg" alt="img">
      </div>
     </div>
   </div>

   <div class="usefull-links">
    <p>Overview</p>
    <p>Amenities</p>
    <p>Location</p>
    <p>Rate/Reviews</p>
    <p>FAQ</p>
  </div>
</div>
