<div class="availability">
  <h1>Availability</h1>

  <div class="selection-details">
   <p>Thur 20th 2024 to Sat 24th 2024</p>
   <div class="vertical-line"></div>
   <p>4 Nights</p>
   <div class="vertical-line"></div>
   <p>2 Adults and 2 Kids</p>
   <div class="vertical-line"></div>
   <p>Change</p>
  </div>

  <div class="available-room-list">
    <div class="available-room-item" *ngFor="let room of rooms">
      <div class="image">
        <img src="assets/images/room-1.jpg" alt="img">
      </div>
      <div class="room-title">
        <h1>Deluxe room</h1>
        <p>2 beds(1 single, 1 large double) <span>Free cancellation before 19th of Novembre</span></p>

        <div class="point"></div>

        <div class="room-details">
          <div class="available-facilities">
            
            <ul>
              <li *ngFor="let amenity of amenities">
                <span>
                  <mat-icon svgIcon="check"></mat-icon>
                </span> 
                {{ amenity.name }}
              </li>
            </ul>
          </div>
          <div class="price">
           <p>3 Nights 3 Adults</p>
           <p><span>1444USD</span>860USD</p>
           <p>+100USD Taxs and charges</p>

           <button>Choose rooms</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>