:root{

    --white: white;


    --section-header-title: #2F465F;
    --section-header-subtitle: #13357C;
    --vertical-line: rgb(6, 57, 199, 0.2);

    --feature-item-title: #374D65;
    --feature-item-subtitle: rgb(6, 17, 41, 0.7);

    --background: #F8FAFF;
    --main-theme-color: #17202A;

    --footer-color: #253546;
    
    --font-family-montserrat: "Montserrat", sans-serif;
}