.near-hotels{
    background-color: var(--background);
    padding: 120px 200px;
    text-align: center;

    h1{
        font-family: var(--font-family-montserrat);
        font-size: 32px;
        font-weight: 700;
        color: var(--feature-item-title);
     }
 
     p{
         font-family: var(--font-family-montserrat);
         font-size: 18px;
         margin-top: 20px;
         color: var(--feature-item-subtitle);
     }

    .near-hotel-list{
        display: flex;
        justify-content: space-between;  
        margin-top: 50px; 

        .hotel-list-item{
            width: 255px;
            border-radius: 15px;
            text-align: left;

            img{
                height: 255px;
                width: 255px;
                object-fit: cover;
                background-color: grey;
                border-radius: 15px;
            }

            h2{
                font-weight: 700;
                font-family: var(--font-family-montserrat);
                font-size: 20px;
            }

            p{
                font-size: 16px;
                color: rgb(19, 53, 124, 0.59);
                margin-top: -10px;
                margin-bottom: 20px;
                font-weight: 600;
            }

            .rating{
              display: flex;           

              p{
                background-color: rgb(55, 77, 101, 0.36);
                color: var(--white);
                width: 37px;
                height: 37px;
                border-radius: 8px;
                align-content: center;
                text-align: center;
                font-weight: 600;
                margin-right: 20px;
              }

              p + p {
                font-size: 16px;
                color: rgb(19, 53, 124, 0.59);
                background-color: transparent;
                width: auto;
              }
            }

            .price{
                display: flex;
                justify-content: space-between;
                margin-top: -10px;

                p{
                    margin-top: 12px; 

                    span{
                      color: #374D65;
                      font-weight: 700;
                    }
                }

                button{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-right: 0px;
                    color: var(--main-theme-color);
                    font-size: 18px;
                    font-family: var(--font-family-montserrat);
                    background-color: transparent;
                    border: none;
                    cursor: pointer;  

                    mat-icon{
                        margin-left: 20px;
                        text-align: right;
                        padding-right: 0px;
                        text-align: right;
                        width: 30px;
                        height: 30px;
                    }

                    &:hover{
                        opacity: 0.5;
                    }
                }   
            }
        }      
    }
}