<div class="near-hotels">
  <h1>Hotels near you</h1>
  <p>No need to travel a lot? We have hotels near you</p>

  <div class="near-hotel-list">
    <div class="hotel-list-item">
      <img src="assets/images/hotel-1.jpg" alt="img">
      <h2>Hotel name</h2>
      <p>Los Angeles - USA</p>
      <div class="rating">
        <p>5.0</p>
        <p>256 Reviews</p>
      </div>
      <div class="price">
        <p>From <span>300USD</span></p>
        <button matButton>View
          <mat-icon svgIcon="arrow-right-thin"></mat-icon>
        </button>
      </div>
    </div>

    <div class="hotel-list-item">
      <img src="assets/images/hotel-2.jpg" alt="img">
      <h2>Hotel name</h2>
      <p>Los Angeles - USA</p>
      <div class="rating">
        <p>5.0</p>
        <p>256 Reviews</p>
      </div>
      <div class="price">
        <p>From <span>300USD</span></p>
        <button matButton>View
          <mat-icon svgIcon="arrow-right-thin"></mat-icon>
        </button>
      </div>
    </div>

    <div class="hotel-list-item">
      <img src="assets/images/hotel-3.jpg" alt="img">
      <h2>Hotel name</h2>
      <p>Los Angeles - USA</p>
      <div class="rating">
        <p>5.0</p>
        <p>256 Reviews</p>
      </div>
      <div class="price">
        <p>From <span>300USD</span></p>
        <button matButton>View
          <mat-icon svgIcon="arrow-right-thin"></mat-icon>
        </button>
      </div>
    </div>

    <div class="hotel-list-item">
      <img src="assets/images/hotel-4.jpg" alt="img">
      <h2>Hotel name</h2>
      <p>Los Angeles - USA</p>
      <div class="rating">
        <p>5.0</p>
        <p>256 Reviews</p>     
      </div>
      <div class="price">
        <p>From <span>300USD</span></p>
        <button matButton>View
          <mat-icon svgIcon="arrow-right-thin"></mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>