<div class="checkout">
  <div class="heading">
     <h1>Checkout summary</h1>
  </div>

  <div class="details">
    <div class="hotel-details">
      <p>Hotel, USA, Alabama, Street 1</p>
   </div>
   <hr>
    
   <div class="booking-details-section">
    <div class="booking-details">
      

      <p class="checkin-details-heading">Checkin details</p>
 
      <div class="checkin-details">
        <div class="checkin">
          <p class="week-day">THU</p>
          <p>25</p>
          <p>December</p>
        </div>
        <div class="checkout">
         <p class="week-day">SUN</p>
         <p>28</p>
         <p>December</p>
        </div>
      </div>
 
      <div class="room-details">
        <h3>Room Fare Breakup</h3>
 
        <table>
         <tr>
           <th>Room type</th>
           <th>Room price</th>
           <th style="text-align: right;">Total</th>
         </tr>
 
         <tr>
           <td>Room type one</td>
           <td >200 £</td>
           <td style="text-align: right;">200 £</td>
         </tr>
 
         <tr>
           <td>Room type one</td>
           <td >200 £</td>
           <td style="text-align: right;">200 £</td>
         </tr>
         <tr style="border: 1px solid; height: 0px;"></tr>
         <tr>
          <td></td>
          <td></td>
          <td style="text-align: right; font-weight: 600;">Total: 400 £</td>
        </tr>
        </table>
        
        <table>
         
        </table>
      </div>
      </div>
 
      <div class="image-summary">
         <img src="assets/images/hotel-1.jpg" alt="img">
      </div>
   </div>
  </div>

  <div class="action-buttons">
    <button (click)="cancel()">Cancel</button>
     <button (click)="checkout()">Proceed to checkout</button>
  </div>
</div>