<app-loader *ngIf="false"></app-loader>

<div class="hotel-list">
  <div class="navigation">
    <h1>Reserve Your Hotel</h1>
    <p>With just a matter of clicks</p>
  </div>

  <div class="hotel-search">
    <app-hotel-search></app-hotel-search>
  </div>

  <div class="content-container">
    <div class="heading-toolbar">
      <div class="search-result">
        <p>Search results</p>
        <div class="vertical-line"></div>
        <p class="property-found"> <em>586</em> Properties found in Las Vegas</p>
      </div>

      <div class="properties-filter">
        <mat-form-field>
          <mat-label>Discount</mat-label>
          <mat-select>
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{food.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="vertical-line"></div>

        <mat-form-field>
          <mat-label>Popularity</mat-label>
          <mat-select>
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{food.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button matButton>
          <mat-icon svgIcon="list-top-menu"></mat-icon>
        </button>

        <button matButton>
          <mat-icon svgIcon="grid-menu"></mat-icon>
        </button>
      </div>
    </div>

    <hr>

    <div class="main-content">
      <div class="hotel-filters">
        <div class="map">
          <img src="assets/images/map.png" alt="img">

          <div class="show-on-map">
            <mat-icon svgIcon="map-marker-radius-outline"></mat-icon>
            <p>Show on map</p>
          </div>
        </div>

        <div class="search-input">
          <input matInput placeholder="Search by name">
          <mat-icon svgIcon="search-filled"></mat-icon>
        </div>

        
          <div class="price-range">
            <div class="title">
              <p>Price range / Night</p>
              <p>100 - 1000USD</p>
            </div>
            <mat-slider min="100" max="500">
              <input value="200" matSliderStartThumb>
              <input value="300" matSliderEndThumb>
            </mat-slider>
          </div>
     
        <div class="common-expantion-panel">
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <p>Discounts</p>
               <div class="hr-line"></div>
              </mat-panel-title>
              <!-- <mat-panel-description>
                Currently I am {{panelOpenState ? 'open' : 'closed'}}
              </mat-panel-description> -->
            </mat-expansion-panel-header>
            <mat-slider min="1" max="100">
              <input value="1" matSliderStartThumb>
            </mat-slider>
           
          </mat-expansion-panel>
        </div>

        <div class="popular-filters common-expantion-panel">
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <p>Popular filters</p>
                <div class="hr-line"></div>
              </mat-panel-title>
              <!-- <mat-panel-description>
                Currently I am {{panelOpenState ? 'open' : 'closed'}}
              </mat-panel-description> -->
            </mat-expansion-panel-header>
            <div class="filter-item">
              <mat-checkbox></mat-checkbox>
              <p>Parking</p>
            </div>
  
            <div class="filter-item">
              <mat-checkbox></mat-checkbox>
              <p>Book without credit card</p>
            </div>
            <div class="filter-item">
              <mat-checkbox></mat-checkbox>
              <p>Special deals</p>
            </div>
            <div class="filter-item">
              <mat-checkbox></mat-checkbox>
              <p>Breakfast</p>
            </div>
            <div class="filter-item">
              <mat-checkbox></mat-checkbox>
              <p>Wifi</p>
            </div>

            <div class="filter-item">
              <mat-checkbox></mat-checkbox>
              <p>Pets</p>
            </div>
          </mat-expansion-panel>
        </div>

        <div class="popular-filters common-expantion-panel">
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <p>Deals </p>
                <div class="hr-line"></div>
              </mat-panel-title>
              <!-- <mat-panel-description>
                Currently I am {{panelOpenState ? 'open' : 'closed'}}
              </mat-panel-description> -->
            </mat-expansion-panel-header>
            <div class="filter-item">
              <mat-checkbox></mat-checkbox>
              <p>Free cancellation</p>
            </div>
  
            <div class="filter-item">
              <mat-checkbox></mat-checkbox>
              <p>No pre-payment</p>
            </div>
            <div class="filter-item">
              <mat-checkbox></mat-checkbox>
              <p>Book without credit card</p>
            </div>
          </mat-expansion-panel>
        </div>

        <div class="popular-filters common-expantion-panel">
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <p>Room facilities </p>
                <div class="hr-line"></div>
              </mat-panel-title>
              <!-- <mat-panel-description>
                Currently I am {{panelOpenState ? 'open' : 'closed'}}
              </mat-panel-description> -->
            </mat-expansion-panel-header>
            <div class="filter-item">
              <mat-checkbox></mat-checkbox>
              <p>Air conditioning</p>
            </div>
  
            <div class="filter-item">
              <mat-checkbox></mat-checkbox>
              <p>Private bathroom</p>
            </div>
            <div class="filter-item">
              <mat-checkbox></mat-checkbox>
              <p>Free wifi</p>
            </div>
            <div class="filter-item">
              <mat-checkbox></mat-checkbox>
              <p>Private pool</p>
            </div>
            <div class="filter-item">
              <mat-checkbox></mat-checkbox>
              <p>Balcony</p>
            </div>

            <div class="filter-item">
              <mat-checkbox></mat-checkbox>
              <p>View</p>
            </div>
          </mat-expansion-panel>
        </div>

        <div class="popular-filters common-expantion-panel">
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <p>Amenities</p>
                <div class="hr-line"></div>
              </mat-panel-title>
              <!-- <mat-panel-description>
                Currently I am {{panelOpenState ? 'open' : 'closed'}}
              </mat-panel-description> -->
            </mat-expansion-panel-header>
            <div class="filter-item">
              <mat-checkbox></mat-checkbox>
              <p>Breakfast included</p>
            </div>
  
            <div class="filter-item">
              <mat-checkbox></mat-checkbox>
              <p>Swimming pool</p>
            </div>
            <div class="filter-item">
              <mat-checkbox></mat-checkbox>
              <p>Parking</p>
            </div>
            <div class="filter-item">
              <mat-checkbox></mat-checkbox>
              <p>Pets</p>
            </div>
            <div class="filter-item">
              <mat-checkbox></mat-checkbox>
              <p>Shuttle</p>
            </div>

            <div class="filter-item">
              <mat-checkbox></mat-checkbox>
              <p>Pool parlour</p>
            </div>
            <p>View all 24</p>
          </mat-expansion-panel> 
        </div>

        <div class="popular-filters common-expantion-panel">
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <p>Popular filters</p>
                <div class="hr-line"></div>
              </mat-panel-title>
              <!-- <mat-panel-description>
                Currently I am {{panelOpenState ? 'open' : 'closed'}}
              </mat-panel-description> -->
            </mat-expansion-panel-header>

            <div class="filter-item">
              <p>Click on the star</p>
              <mat-icon svgIcon="star"></mat-icon>
              <mat-icon svgIcon="star"></mat-icon>
              <mat-icon svgIcon="star"></mat-icon>
              <mat-icon svgIcon="star"></mat-icon>
              <mat-icon svgIcon="star"></mat-icon>
            </div>
          </mat-expansion-panel>
        </div>

        <div class="popular-filters common-expantion-panel">
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <p>Neighborhood</p>
                <div class="hr-line"></div>
              </mat-panel-title>
              <!-- <mat-panel-description>
                Currently I am {{panelOpenState ? 'open' : 'closed'}}
              </mat-panel-description> -->
            </mat-expansion-panel-header>
            <div class="filter-item">
              <mat-checkbox></mat-checkbox>
              <p>Los Angeles</p>
            </div>
  
            <div class="filter-item">
              <mat-checkbox></mat-checkbox>
              <p>Las Vegas</p>
            </div>
            <div class="filter-item">
              <mat-checkbox></mat-checkbox>
              <p>Houston</p>
            </div>
            <div class="filter-item">
              <mat-checkbox></mat-checkbox>
              <p>California</p>
            </div>
            <div class="filter-item">
              <mat-checkbox></mat-checkbox>
              <p>Virginia</p>
            </div>

            <div class="filter-item">
              <mat-checkbox></mat-checkbox>
              <p>Colombo</p>
            </div>
            <p>View all 24</p>
          </mat-expansion-panel>
        </div>

      </div>
      <div class="hotel-search-list">
        <div class="hotel-search-list-item" *ngFor="let hotel of pageItems">
          <div class="image">
            <img src="{{ hotel.image }}" alt="img">
          </div>
          <div class="hotel-about">
            <h3>{{ hotel.name }}</h3>
            <div class="star-rating">
              <mat-icon svgIcon="star"></mat-icon>
              <mat-icon svgIcon="star"></mat-icon>
              <mat-icon svgIcon="star"></mat-icon>
              <mat-icon svgIcon="star"></mat-icon>
              <mat-icon svgIcon="star"></mat-icon>
            </div>

            <p>{{ hotel.location }}</p>

            <div class="price-details">
              <div class="charges">
                <p>{{ hotel.price }} <span> / Night</span></p>
                <p>{{ hotel.charges }} Taxes and charges</p>
              </div>

              <div class="choose-rooms-button">
                <button matButton>Choose rooms</button>
              </div>
            </div>
          </div>
        </div>

        <div class="paginator-container">
          <div class="paginator">
            <button (click)="previousPage()">
              <mat-icon svgIcon="paginator-arrow-left"></mat-icon>
            </button>
  
           <ng-container *ngFor="let page of totalPageList; let pageIndex=index">
            <button (click)="getPageData(pageIndex)" *ngIf="page < 4 || page === totalPageList.length -2 || page === totalPageList.length - 1">
              {{ getButtonContent((pageIndex), totalPageList.length) }}
             </button>
           </ng-container>
 
            <button (click)="nextPage()">
             <mat-icon svgIcon="paginator-arrow-left"></mat-icon>
            </button>
         </div>
        </div>
      </div>
    </div>
  </div>

  <div class="keep-updated">
    <app-subscribe-section></app-subscribe-section>
  </div>
</div>
