<div class="reviews">
  <h1>Rate / Reviews</h1>

  <div class="rate">
    <div class="rate-by-item">
      <div class="total-reviews">
        <div class="stars">
         <mat-icon svgIcon="star"></mat-icon>
         <mat-icon svgIcon="star"></mat-icon>
         <mat-icon svgIcon="star"></mat-icon>
         <mat-icon svgIcon="star"></mat-icon>
         <mat-icon svgIcon="star"></mat-icon>
        </div>
    
        <div class="point"></div>
    
        <div class="reviews-statistic">
          <p>4.8</p>
          <div class="reviews-count">
            <h3>Very good</h3>
            <p>52 Reviews</p>
          </div>
        </div>
      </div>

      <div class="rated-item-list">
        <div class="rated-item">
          <div class="rate">
            <p>Location</p>
            <p>9.8</p>
          </div>
          <mat-progress-bar color="green" mode="determinate" value="88"></mat-progress-bar>
        </div>

        <div class="rated-item">
          <div class="rate">
            <p>Staff</p>
            <p>9.4</p>
          </div>
          <mat-progress-bar mode="determinate" value="84"></mat-progress-bar>
        </div>

        <div class="rated-item">
          <div class="rate">
            <p>Value for money</p>
            <p>9.8</p>
          </div>
          <mat-progress-bar mode="determinate" value="59"></mat-progress-bar>
        </div>

        <div class="rated-item">
          <div class="rate">
            <p>Cleanliness</p>
            <p>7.4</p>
          </div>
          <mat-progress-bar mode="determinate" value="64"></mat-progress-bar>
        </div>

        <div class="rated-item">
          <div class="rate">
            <p>Food</p>
            <p>9.9</p>
          </div>
          <mat-progress-bar mode="determinate" value="89"></mat-progress-bar>
        </div>

        <div class="rated-item">
          <div class="rate">
            <p>Comfortability</p>
            <p>8.0</p>
          </div>
          <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
        </div>
      </div>
    </div>

    <div class="review-list">
       <div class="review-list-item">
        <div class="image-section">
          <div class="image">
            <img src="assets/images/customer-1.jpg" alt="img">
          </div>
          <div class="reviwer-details">
            <h3>John Doe</h3>
            <p>United State</p>
            <p>12 - Dec - 2023</p>
          </div>
        </div>

        <p class="italic-font-style">
          It was an awesome experience. I rally enjoyed the trip. And hotelreservation site helpmed to get into this hotel and so and so and this is a fake review that I type for the purpose of adjusting the typography in the design.
        </p>
        <div class="customer-rate">
          <p>4.8</p>
          <div class="about-rate">
            <h3>Very good</h3>
            <p>Staff service and food</p>
          </div>
        </div>
       </div>

       <div class="review-list-item">
        <div class="image-section">
          <div class="image">
            <img src="assets/images/customer-3.jpg" alt="img">
          </div>
          <div class="reviwer-details">
            <h3>John Doe</h3>
            <p>United State</p>
            <p>12 - Dec - 2023</p>
          </div>
        </div>

        <p class="italic-font-style">
          It was an awesome experience. I rally enjoyed the trip. And hotelreservation site helpmed to get into this hotel and so and so and this is a fake review that I type for the purpose of adjusting the typography in the design.
        </p>
        <div class="customer-rate">
          <p>4.8</p>
          <div class="about-rate">
            <h3>Very good</h3>
            <p>Staff service and food</p>
          </div>
        </div>
       </div>

       <p class="view-all">View all 52 reviews</p>
    </div>
  </div>
</div>