<div class="amenities">
  <h1>Hotel amenities</h1>

  <div class="amenitie-list">

      <ul>
        <li>
          <span>
            <mat-icon svgIcon="check"></mat-icon>
          </span> 
          Internet acces
        </li>
        <li>
          <span>
            <mat-icon svgIcon="check"></mat-icon>
          </span> 
          Private parking
        </li>
        <li>
          <span>
            <mat-icon svgIcon="check"></mat-icon>
          </span> 
          Room service
        </li>
        <li>
          <span>
            <mat-icon svgIcon="check"></mat-icon>
          </span> 
          24 hr Front desk
        </li>
        <li>
          <span>
            <mat-icon svgIcon="check"></mat-icon>
          </span> 
          Fitness center
        </li>
      </ul>
 
      <ul>
        <li>
          <span>
            <mat-icon svgIcon="check"></mat-icon>
          </span> 
          SPA
        </li>
        <li>
          <span>
            <mat-icon svgIcon="check"></mat-icon>
          </span> 
          Netflix
        </li>
        <li>
          <span>
            <mat-icon svgIcon="check"></mat-icon>
          </span> 
         Smoking area
        </li>
        <li>
          <span>
            <mat-icon svgIcon="check"></mat-icon>
          </span> 
          Non smoking rooms
        </li>
        <li>
          <span>
            <mat-icon svgIcon="check"></mat-icon>
          </span> 
          Game room
        </li>
      </ul>

      <ul>
        <li>
          <span>
            <mat-icon svgIcon="check"></mat-icon>
          </span> 
          Pool parkour
        </li>
        <li>
          <span>
            <mat-icon svgIcon="check"></mat-icon>
          </span> 
          Video games
        </li>
        <li>
          <span>
            <mat-icon svgIcon="check"></mat-icon>
          </span> 
          Game room
        </li>
        <li>
          <span>
            <mat-icon svgIcon="check"></mat-icon>
          </span> 
          Restaurant
        </li>
        <li>
          <span>
            <mat-icon svgIcon="check"></mat-icon>
          </span> 
          BBQ Grill
        </li>
      </ul>

      <ul>
        <li>
          <span>
            <mat-icon svgIcon="check"></mat-icon>
          </span> 
          Saturday night
        </li>
        <li>
          <span>
            <mat-icon svgIcon="check"></mat-icon>
          </span> 
          Night club
        </li>
        <li>
          <span>
            <mat-icon svgIcon="check"></mat-icon>
          </span> 
          Swimming pool
        </li>
        <li>
          <span>
            <mat-icon svgIcon="check"></mat-icon>
          </span> 
          Pets allowed
        </li>
        <li>
          <span>
            <mat-icon svgIcon="check"></mat-icon>
          </span> 
          Social distancing
        </li>
      </ul>

      <ul>
        <li>
          <span>
            <mat-icon svgIcon="check"></mat-icon>
          </span> 
          Curency exchange
        </li>
        <li>
          <span>
            <mat-icon svgIcon="check"></mat-icon>
          </span> 
          Baby sitting
        </li>
        <li>
          <span>
            <mat-icon svgIcon="check"></mat-icon>
          </span> 
          Lounge / Bar
        </li>
        <li>
          <span>
            <mat-icon svgIcon="check"></mat-icon>
          </span> 
          Mini bar
        </li>
        <li>View more</li>
      </ul>
    </div>
</div>