<div class="top-destinations">
  <h1>Top destinations</h1>
  <p>Book your perfect hotel online now</p>

  <div class="destinations-container">
   <div class="destinations-container-first-row">
      <div class="destination-item">
          <img src="assets/images/new-york.jpg" alt="img">
          <div class="hotel-badge">
            <p>New York</p>
            <p>485 Hotels</p>
          </div>
      </div>
      <div class="destinations-inner-container">
         <div class="destination-inner-item">
          <img src="assets/images/houston.jpg" alt="img">
          <div class="hotel-badge">
            <p>Houston</p>
            <p>485 Hotels</p>
          </div>
         </div>
         <div class="destination-inner-item">
          <img src="assets/images/lasvegas.jpg" alt="img">
          <div class="hotel-badge">
            <p>Las Vegas</p>
            <p>485 Hotels</p>
          </div>
         </div>
      </div>
   </div>
   <div  class="destinations-container-second-row">
      <div class="destination-item-second-row">
        <img src="assets/images/illinois.jpg" alt="img">
        <div class="hotel-badge">
          <p>Illinois</p>
          <p>485 Hotels</p>
        </div>
      </div>

      <div class="destination-item-second-row">
        <img src="assets/images/miami-florida.jpg" alt="img">
        <div class="hotel-badge">
          <p>Miami</p>
          <p>485 Hotels</p>
        </div>
      </div>

      <div class="destination-item-second-row">
        <img src="assets/images/washington.jpg" alt="img">
        <div class="hotel-badge">
          <p>Washington</p>
          <p>485 Hotels</p>
        </div>
      </div>
   </div>
  </div>

  <div class="more-cities-button">
    <button matButton>View more cities</button>
  </div>
</div>