<div class="single-hotel">
  <div class="navigation">
    <h3>Home / USA / Las Vegas / Hotel name</h3>
  </div>

  <div class="hotel-search">
    <app-hotel-search></app-hotel-search>
  </div>

  <div class="images-section">
    <app-images-section></app-images-section>
  </div>

  <app-property-highlights></app-property-highlights>
  <app-availability></app-availability>
  <app-overview></app-overview>
  <app-hotel-amenities></app-hotel-amenities>
  <app-location></app-location>
  <app-review></app-review>
  <app-frequently-asked-question></app-frequently-asked-question>
  <app-other-near-properties></app-other-near-properties>
  <app-keep-updated></app-keep-updated>
</div>