<div class="footer">
  <div class="links">
    <ul>
        <li>Dashboard</li>
        <li>Book marks</li>
        <li>Contact</li>
        <li>Terms</li>
        <li>Privacy</li>
    </ul>
  </div>
  <div class="links">
    <ul>
        <li>About</li>
        <li>Our tours</li>
        <li>Special packages</li>
        <li>Careers</li>
        <li>Site map</li>
    </ul>
  </div>
  <div class="subscribe-section">
    <div class="subscribe-input">
        <input type="email" matInput placeholder="Enter your email address">
        <button matButton>Subscribe</button>
     </div>
        
    <div class="contact">
        <p>
            <span>
                <mat-icon svgIcon="call-support"></mat-icon>
            </span> 
            123-456-7890
        </p>
        <p>info@yourdomain.com</p>
    </div>
    <div class="social-media">
        <mat-icon svgIcon="facebook"></mat-icon>
        <mat-icon svgIcon="twitter"></mat-icon>
        <mat-icon svgIcon="linkedin"></mat-icon>
    </div>
  </div>
</div>

<div class="copyright">
  <p>© 2024 Yoursitenameishere.com</p>
</div>
