<form [formGroup]="form" class="hotel-search" (ngSubmit)="searchHotel()">
  <div class="item">
    <mat-icon svgIcon="map-marker-outline"></mat-icon>
    <div class="to-were">
      <p>To where?</p>

        <mat-form-field class="form-field" matAutocompleteOrigin #origin="matAutocompleteOrigin">
          <input
          matInput
          formControlName="where"
          [matAutocomplete]="auto"
          [matAutocompleteConnectedTo]="origin"
          placeholder="Where are you going?"
          (keyup)="searchForDestination()"
          (focus)="searchDestination()">

          <mat-autocomplete #auto="matAutocomplete">
            <ng-template ngFor let-option [ngForOf]="filteredOptions | async">
              <mat-option [value]="option">
                
                <div style="display: block; height: 30px;">
                  <p style="font-weight: 600;">{{ option }}</p>
                  <p style="font-size: 12px; margin-top: -20px;">{{ option }}</p>
                </div>                              
              </mat-option>
             </ng-template>
          </mat-autocomplete>
        </mat-form-field>  
    </div>
  </div>

  <div class="item">
    <mat-icon svgIcon="calendar-blank"></mat-icon>
    <div class="check-in">
       <p>Check in - Check out</p>
       
      <mat-form-field class="form-field">
        <mat-date-range-input [rangePicker]="picker">
          <input formControlName="checkIn" matStartDate placeholder="Fri 05/24">
          <input formControlName="checkOut" matEndDate placeholder="Mon 05/24">
        </mat-date-range-input>    
        
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
       <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>
  </div>

  <div class="item">
    <mat-icon svgIcon="bed"></mat-icon>
    <div class="rooms">
      <p>Rooms</p>
      <mat-form-field class="form-field" style="width: 100px;">
        <input formControlName="rooms" matInput type="number" placeholder="1">
      </mat-form-field>
    </div>
  </div>

  <div class="item">
    <mat-icon svgIcon="person-fill"></mat-icon>
    <div class="guests">
      <p>Guests</p>
      <mat-form-field class="form-field" style="width: 100px;">
        <input formControlName="guests" matInput type="number" placeholder="1">
      </mat-form-field>
    </div>
  </div>

  <div class="search-box"  (click)="searchHotel()">
    <mat-icon svgIcon="search"></mat-icon>
  </div>
</form>