<div class="hotel-search">
  <div class="item">
    <mat-icon svgIcon="map-marker-outline"></mat-icon>
    <div class="to-were">
      <p>To where?</p>
      <input type="text" placeholder="Where are you going?">
      <!-- <p>Where are you going?</p> -->
    </div>
  </div>

  <div class="item">
    <mat-icon svgIcon="calendar-blank"></mat-icon>
    <div class="check-in">
      <p>Check in - Check out</p>
     
      <p>Thu Nov 3 - Fri Nov 5</p>
    </div>
  </div>

  <div class="item">
    <mat-icon svgIcon="bed"></mat-icon>
    <div class="rooms">
      <p>Rooms</p>
      <p>3</p>
    </div>
  </div>

  <div class="item">
    <mat-icon svgIcon="person-fill"></mat-icon>
    <div class="guests">
      <p>Guests</p>
      <p>3</p>
    </div>
  </div>

  <div class="search-box">
    <mat-icon svgIcon="search"></mat-icon>
  </div>
</div>